.notification {
	align-items: center;
	border-radius: var(--border-radius-content);
	display: flex;
	padding: var(--space-inset);

	&--error {
		background: var(--color-background-error);
		color: var(--color-text-inverse);
	}

	&--info {
		background: var(--color-background-info);
		color: var(--color-text-inverse);
	}

	+ * {
		margin-top: 1rem;
	}
}

.icon {
	margin-right: var(--space-inline-related);
	width: var(--size-medium);
}