.card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: var(--space-inset-control);
	width: 100%;
}

.icon {
	align-self: flex-start;
}

// wrapper around all text content (title & details)
.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.details {
	margin-top: auto;
	padding-top: var(--space-stack-related);
}