.card {
	display: flex;
	flex-direction: column;
	padding: var(--space-inset-control);
	width: 100%;
}

.icon {
	align-self: end;
	position: absolute;
}

// wrapper around all text content (title & details)
.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: auto;

	// React Icon's requires setting the size via JSX so we have a hard-coded 3rems here
	padding-right: calc(3rem + var(--space-inline-related));
}

.details {
	margin-top: auto;
	padding-top: var(--space-stack-related);
}