@use '../../../foundations/styles/utilities' as *;

.label {
	@include text($size: 'xsmall', $is-interactive: 'true');

	display: block;
	margin-bottom: var(--space-stack-tight);
	margin-top: var(--space-stack)
}
