@use '../../foundations/styles/tokens/global/breakpoints.scss' as *;
@use '../../foundations/styles/utilities' as *;

.form {
	display: flex;
	flex-direction: column;
}

.button {
	align-self: flex-end;
	margin-top: var(--space-stack);
}

@media (width >= $breakpoint-01) {
	.form {
		max-width: $max-full-width-content;
	}

    
	.addressRow {
		display: flex;
		gap: 1rem;
	}

	.city {
		flex-grow: 100;
	}
}