@use '../../../foundations/styles/mixins' as *;

$input-padding: var(--space-inset-control);

.input {
	@include focus($is-inline-element: 'true');

	border: var(--line-width-control) solid var(--color-line);
	border-radius: var(--border-radius-control);
	min-height: var(--size-large);
	padding: 0 $input-padding;
	box-sizing: border-box;
	width: 100%;

	&--persistentIcon {
		padding-left: calc(var(--size-medium) + $input-padding + var(--space-inline-related));
	}

	&:hover {
		border-color: var(--color-line-hover);
		color: var(--color-text-hover);
	}

	&:focus,
	&:focus-visible {
		border-color: var(--color-line-hover);
		outline: none;
	}

	&::placeholder {
		color: var(--color-text-secondary);
	}
}

.persistentIcon {
	color: var(--color-text);
	left: $input-padding;
	position: absolute; 
	top: 50%;
	transform: translateY(-50%);
}
