@use '../../../foundations/styles/mixins' as *;

.input {
	@include focus($is-inline-element: 'true');
	@include common-control-styles;

	width: 100%;

	&--persistentIcon {
		// Icon size is set via JSX with React Icons
		padding-left: calc(1rem + $control-padding + var(--space-inline-related));
	}

	&::placeholder {
		color: var(--color-text-secondary);
	}
}

.persistentIcon {
	color: $control-border-color;
	height: 1rem;
	left: $control-padding;
	position: absolute; 
	top: 50%;
	transform: translateY(-50%);
}
