@use '../../foundations/styles/utilities' as *;
@use '../../foundations/styles/tokens/global/breakpoints.scss' as *;

$night-color: var(--blue-100);
$night-background: rgb($night-color / 80%);

.dailyWeather {
	background: linear-gradient(105deg, var(--color-background) 50%, $night-background 50%);
	background-color: var(--color-background);
	border-radius: var(--radii-03);
	box-shadow: var(--shadows-lifted);
	display: flex;
	flex-direction: row;
	gap: var(--spacing-10);
	justify-content: space-between;
}

.icon {
	display: block;
	flex-shrink: 0;
	height: var(--size-medium);
	width: var(--size-medium);
}

.desc {
	color: var(--color-text-secondary);
	font-size: var(--type-size-text-xxsmall);
}

.temp {
	display: block;
	font-size: var(--type-size-text);
	font-weight: bold;
}

.timeOfDay--day {
	color: rgb($night-color);
	padding-right: 0;

	.heading {
		color: rgb($night-color);
	}
	
}

.timeOfDay--night {
	color: var(--color-text-inverse);
	padding-left: var(--space-inset);

	.desc {
		color: var(--color-text-inverse-secondary);
	}

	.heading {
		color: var(--color-text-inverse);
	}
}

// Kind modifier
.dailyWeather--current {
	border-radius: var(--border-radius-container-large);
	max-width: $max-full-width-content;

	.temp {
		font-size: var(--font-size-10);
	}

	.icon {
		height: var(--size-large);
		width: var(--size-large);
	}
}

// Time of day modifier
.dailyWeather--nightOnly {
	background: $night-background;

	.timeOfDay {
		max-width: 100%;
	}
}

// Responsive styles
@media (width >= $breakpoint-01) {
	.dailyWeather--future {
		gap: var(--spacing-08);
	}
}

// Dark theme
@media (prefers-color-scheme: dark) {
	$night-background: rgb($night-color / 100%);
	$day-background: rgb(var(--gray-40) / 95%);

	.dailyWeather {
		// background: linear-gradient(105deg, var(--color-background) 50%, $night-background 50%);
		background: linear-gradient(105deg, $day-background 50%, $night-background 50%);
	}
	
	.timeOfDay--day {
		color: $night-background;

		.desc {
			color: $night-background;
		}
	
		.heading {
			color: $night-background;
		}
	}
	
	.timeOfDay--night {
		color: $day-background;
	
		.desc {
			color: $day-background;
		}
	
		.heading {
			color: $day-background;
		}
	}
	
	// Time of day modifier
	.dailyWeather--nightOnly {
		background: $night-background;
	}
}