.dailyWeather {
	background: linear-gradient(105deg, rgb(255 241 188 / 10%) 50%, rgb(12 45 84 / 80%) 50%);
	background-color: white;
	border: 1px solid lightgray;
	border-radius: 1rem;
	box-shadow: var(--shadow-01);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: .5rem;
	width: calc(50% - 1rem);
}

.timeOfDay {
	max-width: 48%;

	&--day {
		color: rgb(12 45 84 / 100%);
		padding-right: 0;
	}

	&--night {
		color: white;
	}
}

.temp {
	display: block;
	font-size: 1.5rem;
	font-weight: bold;
}

.desc {
	font-size: smaller;
}

// Kind modifier
.dailyWeather--current {
	width: 100%;

	.timeOfDay {
		max-width: 45%;
	}

	.temp {
		font-size: 3rem;
		font-weight: bold;
	}
}
