@use '../foundations/styles/normalizer.scss';
@use '../foundations/styles/tokens/global/' as *;
@use '../foundations/styles/tokens/contextual/' as *;

body {
	background-color: white;
	background-image: radial-gradient(circle at top, rgb(240 220 146 / 10%) 8%, rgb(39 74 115 / 0) 100%);
	min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}