////
/// Helper mixins and SCSS variables related to control elements
/// (e.g., buttons, inputs, selects, etc.)
/// @group helper-mixins
////

$control-padding: var(--space-inset-control);
$control-border-color: var(--color-line);

/// Used to create a consistent styling across various controls
/// Mixin includes hover and partial focus states
/// 
/// @example @include common-control-styles;
@mixin common-control-styles() {
	border: var(--line-width-control) solid $control-border-color;
	border-radius: var(--border-radius-control);
	box-sizing: border-box;
	min-height: var(--size-large);
	padding: 0 $control-padding;
	transition: all 0.2s ease;
	transition-property: color, background-color, border-color;

	&:hover {
		border-color: var(--color-line-hover);
		color: var(--color-text-hover);
	}

	&:focus,
	&:focus-visible {
		border-color: var(--color-line-hover);
		outline: none;
	}
}