@use '../../../foundations/styles/utilities' as *;

.button {
	@include focus($border-width: $control-border-width);
	@include text($is-interactive: 'true');
	@include common-control-styles;

	&--primary {
		background-color: var(--color-brand);
		border-color: transparent;
		color: var(--color-text-brand);

		&:hover {
			background-color: var(--color-brand-hover);
			border-color: transparent;
			color: var(--color-text-brand);
		}

		&:active {
			background-color: var(--color-brand-active);
			border-color: transparent;
			color: var(--color-text-brand);
		}

		&:focus {
			border-color: transparent;
		}
	}
}

.icon {
	margin-right: var(--space-inline-related);
}
