@use '../../../foundations/styles/mixins' as *;
@use '../_helpers/styles/control-mixins.scss' as *;

.select {
	@include focus($is-inline-element: 'true');
	@include common-control-styles;

	appearance: none;

	// Icon size is set via JSX with React Icons
	padding-right: calc($control-padding * 2 + 1rem);
	width: 100%;
}

.chevron {
	color: $control-border-color;
	height: 1rem;
	position: absolute;
	right: $control-padding;
	top: 50%;
	transform: translateY(-50%);
}
